In [8]:
# Returning Values from Functions by passing values as an arguments
def raise_to_the_power(num, exponent):
    power = num ** exponent
    print(power)

In [9]:
raise_to_the_power(4,2)

16

In [10]:
raise_to_the_power(4,4)

256

In [11]:
result = raise_to_the_power(3,3)

27

In [12]:
result

In [13]:
type(result)

NoneType

In [14]:
print(result)

None

In [15]:
def raise_to_the_power(num, exponent):
    power = num ** exponent
    return power

In [16]:
raise_to_the_power(3,3)

27

In [18]:
result = raise_to_the_power(4,3)

In [19]:
result

64

In [20]:
def square_and_cube(num):
    square = num ** 2
    cube = num ** 3
    return square, cube

In [21]:
square_and_cube(5)

(25, 125)

In [24]:
square, cube = square_and_cube(5)

In [25]:
square

25

In [26]:
cube

125

In [27]:
def divisible_by_5(num):
    if num % 5 == 0:
        return "This number is divisible by 5"
    else:
        return "This number is not divisible by 5"

In [28]:
divisible_by_5(25)

'This number is divisible by 5'

In [ ]:
# Note : When defining a function you can have any number of input arguments to your function, 
# and the input arguments can be of any data type. Similarly, you can have any number of return statement 
# with in a function and also the 
# return statements can return any data type of data.

In [29]:
# Argument Reassignment and modifying variables with in a function

In [30]:
int_var = 3
float_var = 3.3
string_var = "Hello"
bool_var = True

In [32]:
def reassign_arguments_basictypes(int_var, float_var, string_var, bool_var):
    int_var = 30
    float_var = 33.3
    string_var = "GoodBye"
    bool_var = False
    
    print("Inside the Function:", int_var, float_var, string_var, bool_var)

In [34]:
reassign_arguments_basictypes(0,0.0," string",False)

Inside the Function: 30 33.3 GoodBye False

In [38]:
print("Outside the Function:", int_var, float_var, string_var, bool_var)

Outside the Function: 3 3.3 Hello True

In [39]:
some_list = ["John", "Mary", 1, True]
some_tuple =("John", "Mary", 1, True)
some_dict = {"John" : 50, "Mary" : 55}

In [40]:
def reassign_arguments_complextypes(some_list, some_tuple, some_dict):
    some_list = ["Alice"]
    some_tuple = ("Alice")
    some_dict = {"Alice": 25}
    print("Inside the Function:", some_list, some_tuple, some_dict)

In [41]:
reassign_arguments_complextypes(some_list, some_tuple, some_dict)

Inside the Function: ['Alice'] Alice {'Alice': 25}

In [43]:
print("Outside the Function:", some_list, some_tuple, some_dict)

Outside the Function: ['John', 'Mary', 1, True] ('John', 'Mary', 1, True) {'John': 50, 'Mary': 55}

In [44]:
popular_story_books = ["Geronimo Stilton", "Thea Stilton", "Timmy Failure", "Asterix", "Tintin"]

In [45]:
def modify_list(popular_story_books):
    popular_story_books.append("Dr.Seuss")

In [46]:
modify_list(popular_story_books)

In [47]:
popular_story_books

['Geronimo Stilton',
 'Thea Stilton',
 'Timmy Failure',
 'Asterix',
 'Tintin',
 'Dr.Seuss']

In [48]:
def modify_list(story_books):
    story_books[1] = "Junie B Jones"
    story_books.pop()

In [49]:
modify_list(popular_story_books)

In [50]:
popular_story_books

['Geronimo Stilton', 'Junie B Jones', 'Timmy Failure', 'Asterix', 'Tintin']

In [58]:
popular_story_books_dict = {"Geronimo Stilton":4,
                           "Thea Stilton" : 5,
                           "Timmy Failure" : 2,
                           "Asterix" : 12,
                           "Tintin" : 8}

In [59]:
def modify_dict(story_books_dict):
    del story_books_dict["Tintin"]
    
    story_books_dict["Famous Five"] = 3

In [60]:
modify_dict(popular_story_books_dict)

popular_story_books_dict

{'Geronimo Stilton': 4,
 'Thea Stilton': 5,
 'Timmy Failure': 2,
 'Asterix': 12,
 'Famous Five': 3}

In [64]:
# Using the keyword arguments

def car_parts(name, brand, hp, engine, zero_to_sixty, top_speed, price):
    
    other_details = hp, engine, top_speed, price
    
    print("Name of the car :", name)
    print("Brand :", brand, "\n 0 to 60:",zero_to_sixty)
    print("Price :", price)
    print("Remaining details(hp, engine, top_speed, price):", other_details)

In [65]:
car_parts("Aventador", "Lamborghini", 544, 7.0,2.9, 220, 261000)

Name of the car : Aventador
Brand : Lamborghini
 0 to 60: 2.9
Price : 261000
Remaining details(hp, engine, top_speed, price): (544, 7.0, 220, 261000)

In [66]:
car_parts("Aventador", "Lamborghini", 544, 7.0,2.9, 220, price = 261000)

Name of the car : Aventador
Brand : Lamborghini
 0 to 60: 2.9
Price : 261000
Remaining details(hp, engine, top_speed, price): (544, 7.0, 220, 261000)

In [67]:
car_parts("Aventador", "Lamborghini", hp = 544, engine = 7.0, zero_to_sixty = 2.9, top_speed = 220, price = 261000)

Name of the car : Aventador
Brand : Lamborghini
 0 to 60: 2.9
Price : 261000
Remaining details(hp, engine, top_speed, price): (544, 7.0, 220, 261000)

In [68]:
## If you need to assign values in the keyword arguments, all the positional arguments needs to be at the beginning while defining the function
## Assigning a positional argument in the middle of the keyword argument it willthrow error
car_parts("Aventador", "Lamborghini", hp = 544, engine = 7.0, zero_to_sixty = 2.9, top_speed = 220, price = 261000)

Name of the car : Aventador
Brand : Lamborghini
 0 to 60: 2.9
Price : 261000
Remaining details(hp, engine, top_speed, price): (544, 7.0, 220, 261000)

In [73]:
##If the values are assigned to the variables using the ketyword then we can mix up the orders of the variables

car_parts(brand = "Lamborghini", name = "Aventador",  hp = 544, engine = 7.0, zero_to_sixty = 2.9, top_speed = 220, price = 261000)

Name of the car : Aventador
Brand : Lamborghini
 0 to 60: 2.9
Price : 261000
Remaining details(hp, engine, top_speed, price): (544, 7.0, 220, 261000)

In [79]:
## Assigning the default Values for Input Arguments

def car_parts(name, brand, hp, engine, zero_to_sixty, top_speed, price = 35000):
    other_details = hp, engine, top_speed, price
    
    print("Name of the car :", name)
    print("Brand :", brand, "\n 0 to 60:",zero_to_sixty)
    print("Price :", price)
    print("Remaining details(hp, engine, top_speed, price):", other_details)

In [81]:
car_parts("Mustang", "Ford", hp= 295, engine = 5.0, zero_to_sixty = 7.0, top_speed = 150)

Name of the car : Mustang
Brand : Ford
 0 to 60: 7.0
Price : 35000
Remaining details(hp, engine, top_speed, price): (295, 5.0, 150, 35000)

In [82]:
def car_parts(name = "Mustang", brand = "Ford", hp = 295, engine = 5.0, zero_to_sixty = 7.0, top_speed = 150, price = 30000):
    other_details = hp, engine, top_speed, price
    
    print("Name of the car :", name)
    print("Brand :", brand, "\n 0 to 60:",zero_to_sixty)
    print("Price :", price)
    print("Remaining details(hp, engine, top_speed, price):", other_details)

In [83]:
car_parts()

Name of the car : Mustang
Brand : Ford
 0 to 60: 7.0
Price : 30000
Remaining details(hp, engine, top_speed, price): (295, 5.0, 150, 30000)

In [86]:
car_parts(name = "Viper", brand = "Benz")

Name of the car : Viper
Brand : Benz
 0 to 60: 7.0
Price : 30000
Remaining details(hp, engine, top_speed, price): (295, 5.0, 150, 30000)

In [87]:
# First Class Functions

In [88]:
def my_car(car):
    print("My car is a", car)

In [89]:
my_car("MercedzBenz")

My car is a MercedzBenz

In [90]:
my_car

In [92]:
car_fn = my_car

In [93]:
car_fn("BMW")

My car is a BMW

In [94]:
maximum = max

In [95]:
num_list = [56, 54, 8, 9678, 987, 7]

maximum(num_list)

9678

In [96]:
maximum == max

True

In [97]:
def calculate_GST(price, type_of_item):
    if type_of_item == "Product":
        return price * 1.05
    
    elif type_of_item == "Service":
        return price * 1.18
    
    return price * 1.35

In [98]:
def calculate_VAT(price, type_of_item):
    return price * 1.2

In [99]:
type_of_tax = calculate_GST

In [100]:
type_of_tax(1000, "Product")

1050.0

In [101]:
def find_tax_calculator(type_of_tax):
    if type_of_tax == "GST":
        return calculate_GST
    elif type_of_tax == "VAT":
        return calculate_VAT

In [102]:
gst_fn = find_tax_calculator("GST")

gst_fn

In [103]:
vat_fn = find_tax_calculator("VAT")

In [104]:
vat_fn

In [105]:
gst_fn(1000, "Product")

1050.0

In [107]:
def get_price_plus_taxes(price, type_of_item, tax_fn):
    return tax_fn(price, type_of_item)

In [108]:
get_price_plus_taxes(2000, "Product", tax_fn= calculate_GST)

2100.0

In [109]:
get_price_plus_taxes(2000, "Product", tax_fn = calculate_VAT)

2400.0