In [1]:
2 + 2

4

In [2]:
64 + 117

181

In [3]:
20.5 -17

3.5

In [4]:
4* 2

8

In [5]:
4/ 2

2.0

In [6]:
12/5

2.4

In [7]:
24.5 * 2 + 3.5

52.5

In [8]:
80 // 7

11

In [9]:
80.5 // 7

11.0

In [10]:
3 % 2

1

In [11]:
7 * (8 + 5) * 5

455

In [12]:
"Hello" + "World"

'HelloWorld'

In [13]:
"Hello" + "World" + "3"

'HelloWorld3'

In [14]:
"Hello" * 3

'HelloHelloHello'

In [15]:
True + False

1

In [16]:
True * False

0

In [17]:
6 > 5

True

In [18]:
5 < 6

True

In [19]:
11 > 22

False

In [20]:
2000 < 300

False

In [21]:
67 <= 76

True

In [22]:
"Hello" == "hello"

False

In [23]:
6 > 5 and 5 > 4

True

In [25]:
4 > 5 or 5 > 4

True

In [26]:
5 < 6 or "Hello" == "hello"

True

In [27]:
5 > 4

True

In [28]:
not 5 > 4

False

In [29]:
not False

True

In [30]:
15 + 30 + 20

65

In [31]:
apples = 15

In [32]:
apples

15

In [33]:
bananas = 30

In [34]:
bananas

30

In [35]:
oranges = 20

In [36]:
Total_fruits = apples + bananas + oranges

In [38]:
Total_fruits

65

In [39]:
salary = 1000
expenses = 500

In [40]:
savings = salary - expenses

In [41]:
savings

500

In [42]:
length = 10.5
width = 20

In [43]:
area = length * width

In [44]:
area

210.0

In [45]:
perimeter = 2 * (length + width)

In [46]:
perimeter

61.0

In [47]:
name = "Suzie"
lastname = "Derkins"

In [48]:
fullname = name + " " + lastname

In [49]:
fullname

'Suzie Derkins'

In [51]:
salary = salary + 100
salary

1100

In [53]:
expenses = expenses / 2
expenses

125.0

In [54]:
savings = salary - expenses 
savings

975.0

In [56]:
savings *= 1.2
savings

1170.0

In [57]:
pencils = 15
erasers = 7

In [59]:
writing_instruments =pencils + erasers
writing_instruments += 2
writing_instruments

24

In [60]:
weekdays = 7
weekends = 2

In [61]:
weekdays -= weekends

In [62]:
weekdays

5

In [63]:
string_1 = "Hello"

In [64]:
string_2 = "World"

In [65]:
string_1 += string_2

In [66]:
string_1

'HelloWorld'

In [67]:
int_var = 5

In [68]:
type(int_var)

int

In [69]:
float_var = 2.5
type(float_var)

float

In [70]:
string_var = "hello"

In [71]:
type(string_var)

str

In [72]:
bool_var = True
type(bool_var)

bool

In [73]:
print(string_var, bool_var)

hello True

In [74]:
print(int_var, float_var)

5 2.5

In [75]:
str(int_var)

'5'

In [76]:
some_string_holding_an_int = "10"
int(some_string_holding_an_int)

10

In [77]:
int(float_var)

2

In [78]:
type(float_var)

float

In [79]:
float_var

2.5

In [81]:
str(bool_var)

'True'

In [82]:
float(int_var)

5.0

In [83]:
boxes = 117

loaded_boxes = 64

In [86]:
Number_of_Empty_Boxes = "Number of empty boxes : "+ str(boxes - loaded_boxes)
Number_of_Empty_Boxes

'Number of empty boxes : 53'

In [87]:
'Hi, My name is Calvin'

'Hi, My name is Calvin'

In [88]:
"Hi, My name is Calvin"

'Hi, My name is Calvin'

In [89]:
"""Hi, My name is Calvin"""

'Hi, My name is Calvin'

In [90]:
"I'm Calvin"

"I'm Calvin"

In [91]:
'He said "I am Calvin"'

'He said "I am Calvin"'

In [92]:
'I\'m Calvin'

"I'm Calvin"

In [93]:
'He said \"I am Calvin\"'

'He said "I am Calvin"'

In [94]:
"""This is a super way to start 
my Python Journey"""

'This is a super way to start \nmy Python Journey'

In [31]:
### Built-in Functions

In [2]:
print("Hello John, How are you?")

Hello John, How are you?

In [4]:
a = print(2345)

2345

In [5]:
type(a)

NoneType

In [6]:
a = 2345

In [7]:
type(a)

int

In [8]:
print(a)

2345

In [9]:
type(a)

int

In [10]:
# The print function can print strings, int and float as well and anytype of a data. It simply converts the data into a string format and print it out to screen

In [12]:
print("Hello John", "How are you", sep = '\n')

Hello John
How are you

In [13]:
print("Hello John", "How are you", sep = ' ')

#Note : The default separator between two values in the print statement is the space ' '

Hello John How are you

In [14]:
print("Hello John", "How are you", sep = '|')

Hello John|How are you

In [15]:
print("Hello John", "How are you", sep = '**')

Hello John**How are you

In [16]:
print("Hello John", "How are you", end = '!')

#Note : The end characters will be printed out at the end after the print values

Hello John How are you!

In [20]:
# Builtin function len() to find the number of characters. Note the length function will be used for the string characters alone. 

len("abc")

3

In [22]:
len("23")

2

In [24]:
# min & max builtin function

min(1,3,2.4,5,9,65)

1

In [25]:
max(1,3,2.4,5,9,65)

65

In [28]:
abs(-65.5)

65.5

In [32]:
round(3.1415)

3

In [33]:
round(10.8)

11

In [36]:
sorted("hello,1,2,3")

[',', ',', ',', '1', '2', '3', 'e', 'h', 'l', 'l', 'o']

In [37]:
sorted("python")

['h', 'n', 'o', 'p', 't', 'y']

In [38]:
sorted("Python")

['P', 'h', 'n', 'o', 't', 'y']

In [40]:
sorted("Python", reverse = True)

['y', 't', 'o', 'n', 'h', 'P']

#Additional Builtin Functions for string data type

In [43]:
string_var = "HELLO JOHN, HOW ARE YOU?"

In [44]:
string_var

'HELLO JOHN, HOW ARE YOU?'

In [45]:
string_var.lower()

'hello john, how are you?'

In [47]:
lowercase_var = string_var.lower()

lowercase_var

'hello john, how are you?'

In [48]:
lowercase_var.upper()

'HELLO JOHN, HOW ARE YOU?'

In [49]:
lowercase_var == string_var.lower()

True

In [50]:
string_var == lowercase_var.upper()

True

In [52]:
capitalized_string = lowercase_var.capitalize()

capitalized_string

'Hello john, how are you?'

In [53]:
my_print = print("Hello john, how are you?")

Hello john, how are you?

In [54]:
my_print

In [55]:
type(my_print)

NoneType

In [56]:
print(my_print)

None

In [57]:
length = len("hello")

print(length)

5

# The print function variable doesn't return the value whereas the len and abs variable will return the value

In [59]:
type(length)

int

In [60]:
result= abs(-12345)

In [61]:
result

12345

In [63]:
minimum = min(1,3,2.4,5,9,65)
print(minimum)

1

In [64]:
sorted_characters = sorted("gafrt")

print(sorted_characters)

['a', 'f', 'g', 'r', 't']

In [65]:
type(sorted_characters)

list

In [66]:
abs(max(-1,-2,-23,-55))

1

In [67]:
print(len("hello"))

5

In [68]:
print(round(5.7))

6

In [77]:
#List
# Used to store a sequence of elements
# The list is denoted in square brackets
# The list can hold any type of data

In [71]:
empty_list = []

In [72]:
type(empty_list)

list

In [74]:
empty_list

[]

In [75]:
print(empty_list)

[]

In [76]:
int_list = [1,2,3,4,5]

int_list

[1, 2, 3, 4, 5]

In [78]:
string_list = ["I", "am", "list", "of", "strings"]

In [79]:
string_list

['I', 'am', 'list', 'of', 'strings']

In [81]:
mixed_list = [1, "I", "am", 2, "mixed","list", True, "OR", False ]

In [82]:
print(mixed_list)

[1, 'I', 'am', 2, 'mixed', 'list', True, 'OR', False]

In [83]:
airbus_planes = ["Airbus A380", "Airbus A350", "Prototype Airbus A390"]

In [84]:
airbus_planes[0]

'Airbus A380'

In [85]:
airbus_planes[2]

'Prototype Airbus A390'

In [86]:
len(airbus_planes)

3

In [87]:
sorted(airbus_planes)

['Airbus A350', 'Airbus A380', 'Prototype Airbus A390']

In [88]:
print(sorted(airbus_planes))

['Airbus A350', 'Airbus A380', 'Prototype Airbus A390']

In [89]:
boeing_planes = ["Boeing 707", "Boeing 717", "Boeing 727", "Boeing 737"]

In [90]:
print(boeing_planes)

['Boeing 707', 'Boeing 717', 'Boeing 727', 'Boeing 737']

In [92]:
boeing_planes[3] = "Boeing 737 Original"

In [93]:
print(boeing_planes[3])

Boeing 737 Original

In [97]:
last_index = len(boeing_planes) - 1

last_index

3

In [99]:
boeing_planes[last_index]

'Boeing 737 Original'

In [101]:
boeing_planes[-2]

'Boeing 727'

In [102]:
boeing_planes[0:3]

['Boeing 707', 'Boeing 717', 'Boeing 727']

In [103]:
boeing_planes[0:4]

['Boeing 707', 'Boeing 717', 'Boeing 727', 'Boeing 737 Original']

In [104]:
boeing_planes[2:4]

['Boeing 727', 'Boeing 737 Original']

In [105]:
boeing_planes[0:-1]

['Boeing 707', 'Boeing 717', 'Boeing 727']

In [106]:
boeing_planes.append("Boeing 747")

In [109]:
boeing_planes[0:5]

['Boeing 707', 'Boeing 717', 'Boeing 727', 'Boeing 737 Original', 'Boeing 747']

In [110]:
boeing_planes.append("Boeing 767")

In [111]:
boeing_planes[0:6]

['Boeing 707',
 'Boeing 717',
 'Boeing 727',
 'Boeing 737 Original',
 'Boeing 747',
 'Boeing 767']

In [112]:
boeing_planes.insert(4, "Boeing 737 Classic")

In [113]:
boeing_planes

['Boeing 707',
 'Boeing 717',
 'Boeing 727',
 'Boeing 737 Original',
 'Boeing 737 Classic',
 'Boeing 747',
 'Boeing 767']

In [114]:
boeing_planes.index("Boeing 707")

0

In [115]:
boeing_planes.index("Boeing 747")

5

In [116]:
fighter_jets = ["Hurriance", "Tiger Moth"]

In [119]:
fighter_jets

['Hurriance', 'F-16', 'Tiger Moth']

In [118]:
fighter_jets.insert(1,"F-16")

In [120]:
fighter_jets

['Hurriance', 'F-16', 'Tiger Moth']

In [121]:
fighter_jets.remove("Hurriance")

In [122]:
fighter_jets

['F-16', 'Tiger Moth']

In [123]:
last_jet = fighter_jets.pop()

In [124]:
last_jet

'Tiger Moth'

In [125]:
fighter_jets

['F-16']

In [126]:
fighter_jets = ["Hurriance", "Tiger Moth", "F - 14", "F - 16", "Tiger Moth"]

In [127]:
fighter_jets

['Hurriance', 'Tiger Moth', 'F - 14', 'F - 16', 'Tiger Moth']

In [128]:
fighter_jets.sort()

In [129]:
fighter_jets

['F - 14', 'F - 16', 'Hurriance', 'Tiger Moth', 'Tiger Moth']

In [130]:
fighter_jets.reverse()

In [131]:
fighter_jets

['Tiger Moth', 'Tiger Moth', 'Hurriance', 'F - 16', 'F - 14']

In [132]:
all_planes = airbus_planes +  boeing_planes + fighter_jets

In [133]:
all_planes

['Airbus A380',
 'Airbus A350',
 'Prototype Airbus A390',
 'Boeing 707',
 'Boeing 717',
 'Boeing 727',
 'Boeing 737 Original',
 'Boeing 737 Classic',
 'Boeing 747',
 'Boeing 767',
 'Tiger Moth',
 'Tiger Moth',
 'Hurriance',
 'F - 16',
 'F - 14']

In [134]:
airbus_planes.clear()

In [135]:
airbus_planes

[]

In [136]:
all_planes

['Airbus A380',
 'Airbus A350',
 'Prototype Airbus A390',
 'Boeing 707',
 'Boeing 717',
 'Boeing 727',
 'Boeing 737 Original',
 'Boeing 737 Classic',
 'Boeing 747',
 'Boeing 767',
 'Tiger Moth',
 'Tiger Moth',
 'Hurriance',
 'F - 16',
 'F - 14']

In [137]:
boeing_planes_copy = boeing_planes.copy()

boeing_planes_copy

['Boeing 707',
 'Boeing 717',
 'Boeing 727',
 'Boeing 737 Original',
 'Boeing 737 Classic',
 'Boeing 747',
 'Boeing 767']

In [138]:
del boeing_planes

In [139]:
boeing_planes

NameError: name 'boeing_planes' is not defined

In [140]:
boeing_planes_copy

['Boeing 707',
 'Boeing 717',
 'Boeing 727',
 'Boeing 737 Original',
 'Boeing 737 Classic',
 'Boeing 747',
 'Boeing 767']

In [141]:
boeing_planes_shallow_copy = boeing_planes_copy

In [142]:
boeing_planes_shallow_copy.remove("Boeing 727")

In [143]:
boeing_planes_shallow_copy

['Boeing 707',
 'Boeing 717',
 'Boeing 737 Original',
 'Boeing 737 Classic',
 'Boeing 747',
 'Boeing 767']

In [144]:
boeing_planes_copy

['Boeing 707',
 'Boeing 717',
 'Boeing 737 Original',
 'Boeing 737 Classic',
 'Boeing 747',
 'Boeing 767']

In [146]:
#Tuples

# The tuples are immutable. Once it is created it cannot be modified
# However they are referenced a little differently. The individual elements of a tuple are referred to as fields of a tuple, 
# and the fields of can be accessed using the index values.

In [147]:
empty_tuple = ()

In [148]:
print(empty_tuple)

()

In [149]:
type(empty_tuple)

tuple

In [151]:
children_books = ("Timmy Success", "Diary of a Wimpy kid", "Calvin and Hobbies")

type(children_books)

tuple

In [152]:
children_books.append("Geronimo Stilton")

AttributeError: 'tuple' object has no attribute 'append'

In [153]:
children_books

('Timmy Success', 'Diary of a Wimpy kid', 'Calvin and Hobbies')

In [155]:
children_books[0]

'Timmy Success'

In [156]:
children_books[5]

IndexError: tuple index out of range

In [157]:
children_books[0] = "Geronimo Stilton"

TypeError: 'tuple' object does not support item assignment

In [160]:
children_books[0:3]

('Timmy Success', 'Diary of a Wimpy kid', 'Calvin and Hobbies')

In [161]:
character_tuple = tuple ("bedsheet")

character_tuple

('b', 'e', 'd', 's', 'h', 'e', 'e', 't')

In [162]:
fruits_list = ["Apple", "Banana", "Orange", "Watermelon"]

fruits_tuple = tuple(fruits_list)

In [163]:
fruits_tuple

('Apple', 'Banana', 'Orange', 'Watermelon')

In [164]:
"Apple" in fruits_tuple

True

In [165]:
"Grapes" in fruits_list

False

In [166]:
# Dictionaries

In [167]:
empty_dict = {}

In [168]:
print(empty_dict)

{}

In [170]:
type(empty_dict)

dict

In [171]:
names_and_ages = {"Suzie" : 6, 
                 "Calvin" : 5,
                 "Hobbes" : 4}

In [172]:
names_and_ages

{'Suzie': 6, 'Calvin': 5, 'Hobbes': 4}

In [173]:
names_and_ages["Calvin"]

5

In [174]:
names_and_ages["Hobbes"]

4

In [175]:
names_and_ages.keys()

dict_keys(['Suzie', 'Calvin', 'Hobbes'])

In [176]:
names_and_ages.values()

dict_values([6, 5, 4])

In [177]:
names_and_ages.items()

dict_items([('Suzie', 6), ('Calvin', 5), ('Hobbes', 4)])

In [178]:
names_and_ages["Rowley"] = 15

names_and_ages

{'Suzie': 6, 'Calvin': 5, 'Hobbes': 4, 'Rowley': 15}

In [179]:
names_and_ages["Hobbes"] = 25

In [180]:
names_and_ages

{'Suzie': 6, 'Calvin': 5, 'Hobbes': 25, 'Rowley': 15}

In [181]:
del names_and_ages["Rowley"]

In [185]:
names_and_ages

{'Suzie': 6, 'Hobbes': 25}

In [184]:
names_and_ages.pop("Calvin")

KeyError: 'Calvin'

In [186]:
occupation_and_names = {"Doctors" : ["John", "Nina", "Steve"],
                       "Engineers" : ["Bill", "Emily", "Jane"],
                       "Pilots" : ["Sally", "Richard", "Bob"]}

In [187]:
occupation_and_names

{'Doctors': ['John', 'Nina', 'Steve'],
 'Engineers': ['Bill', 'Emily', 'Jane'],
 'Pilots': ['Sally', 'Richard', 'Bob']}

In [190]:
occupation_and_names["Engineers"][0]

'Bill'

In [194]:
int_key_dict[0]

KeyError: 0

In [196]:
int_key_dict = {1 : "Susie",
                2 : "Calvin",
                3 : "Hobbes"}